<!DOCTYPE html>
<html ng-app="store">
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
	</head>
	<body ng-controller="StoreController as store">
		
		<ul class="list-group">
			<li ng-repeat="product in store.products"> <!-- store is the alias for the StoreController -->
				<h1> {{product.name}} </h1>
				<h2> {{product.price | currency }} </h2>
				<p> {{product.description}} </p>
				<img ng-src="{{product.images[0].full}}" />
				<button ng-show="store.product.canPurchase"> Add to Cart </button>
			</li>
		</ul>

		<section>
			<ul class="nav nav-pills">
				<li> <a href ng-click="tab = 1">Description</a> </li>
				<li> <a href ng-click="tab = 2">Specifications</a> </li>
				<li> <a href ng-click="tab = 3">Reviews</a> </li>
			</ul>
		</section>

		{{tab}}

		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>

		<!-- see http://docs.angularjs.org/guide/expression -->

	</body>
</html>